/.svn
*._2i
*.crf
*.d
*.o
*.iex
*.dep
*.htm
*.fed
*.l2p
*.lnp
*.Bak
*.i
*.lst
*.TMP
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.axf
*.tra
*.sct
*.Administrator
*.chengdong
*.ZJW
*.SYD-SZ-03
*.HP
/.vs
*/publish
*/obj
JLinkLog.txt
History
__Previews
Project Logs for*/
Project Outputs for*/
Log
Backup
cache
*.PRJPCBStructure